<p>
  choice-worker works!
</p>
<div class="container">
  <h2 class="text-center">Добавление участника</h2>
  <form [formGroup]="memberForm" role="form" class="form-group" novalidate>


    <div class="form-group">
      <label class="control-label" for="worker_name">Работники</label>
      <select class="form-control" name="worker_name" id="worker_name" [(ngModel)]="worker_name"
        [ngModelOptions]="{standalone: true}">
        <option *ngFor="let user of users" [value]="user.full_name">
          {{user.full_name}}
        </option>
      </select>
      selected value is {{worker_name}}
    </div>
    <div
      *ngIf="memberForm.controls['worker_name'].invalid && (memberForm.controls['worker_name'].dirty || memberForm.controls['worker_name'].touched)"
      class="alert alert-danger">
      <div *ngIf="memberForm.controls['worker_name'].errors.required">
        Заполните данное поле!
      </div>
    </div>


  </form>
  <div class="form-group justify-content-center align-items-center text-center">
    <button
      (click)="addMember(worker_name)"
      class="btn btn-primary">
      Добавить
    </button> </div>
  <!-- <button
    (click)="addProject(project_name.value, worker_name.value, start_time.value, completion_time.value, project_manager.value, project_status.value)"
    [disabled]="depForm.invalid" class="btn btn-primary">Добавить</button> -->
</div>