<div class="container">
  <div class="row">
    <div class="col-md-5">
      <h2 class="text-center">Контакты</h2>
      <p class="text-nowrap"><b>Адрес:</b> Rue de Bruxelles 21, 1480 Tubize, Бельгия</p>
      <p class="text-nowrap"><b>Телефон:</b> +375901012211, +388230921900</p>
      <p> <b>Email:</b> poulaillercompany@gmail.com</p>
    </div>
    <div class="col-md-7">
      <iframe
        src="" frameborder="0" style="border:0" width="100%" height="100%" allowfullscreen>
      </iframe>
      <!-- Hello -->
    </div>
  </div>
</div>

<hr>

<footer>
  <p class="text-center">© Company 2018</p>
</footer>

<hr>