<div id=" container carousel-example-generic" class="carousel slide" data-ride="carousel">
  <h3 class="text-center">ОТЗЫВЫ</h3>
  <div class="carousel-inner" role="listbox">
    <div class="carousel-item active">
      <blockquote class="text-justify">Уже два года мы сотрудничаем с компанией XB Software по вопросам разработки
        программного
        обеспечения и управлению проектами создаваемых нами решений. Команда XB Software является нашим надежным
        партнером и отлично проявила себя в совместном проектировании и разработке наших приложений. Она предлагает
        технологию Agile для успешного управления проектами, что позволяет выполнить поставленную задачу быстро и в
        рамках бюджета. Новые релизы выходят с периодичностью, заданной нашими спецификациями. Мы остались очень
        довольны результатами работы и рекомендуем XB Software в качестве партнера в разработке приложений.
      </blockquote>
      <p class="text-center">Эрик Окерваль, Швеция
        Компания-разработчик ПО
      </p>

    </div>
    <div class="carousel-item">
      <blockquote class="text-justify">Работа выполнена отлично. Общение через скайп позволило быстро решать
        вопросы. Стоимость услуг
        была оговорена заранее и у нас не возникло дополнительных расходов.
        Для нас это был первый опыт по привлечению сторонней компании для разработки программного обеспечения.
        Поэтому вначале мы не смогли четко сформулировать свои требования. Таким образом, проект занял больше
        времени, чем ожидалось, но это не стало для вас проблемой.
        Мы очень довольны результатами вашей работы и активно используем созданное вами приложение..
      </blockquote>
      <p class="text-center">Лиза Кестлер, США
        Компания-разработчик ПО для автоматизации бизнес-процессов
      </p>
    </div>
    <div class="carousel-item">
      <blockquote class="text-justify">Честно говоря, я был поражён насколько тщательно команда тестировщиков
        подходит к тестированию.
        Проверка качества была проведена точно по графику с использованием тулзов и разнообразных методов
        тестирования. Мобильное приложение было досконально протестировано на разных операционных системах. Спасибо
        команде тестировщиков компании XB Software за отличную работу, качественное приложение и огромное терпение.
        Надеюсь, поработаем с вами ещё!
      </blockquote>
      <p class="text-center">Майкл Лингтон, США
        Компания-разработчик ПО
      </p>
    </div>
  </div>
</div>

<hr>