<button class="btn btn-secondary" (click)="openModal(template)">Button</button>
<ng-template #template>
  <div class="modal-header">
    <h2>Изменение данных о департаменте</h2>
    <button type="button" class="close" (click)="modalRef.hide()" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="depForm" novalidate>
      <div class="form-group">
        <label>Название департамента</label>
        <input type="text" class="form-control" formControlName="departement_name" #departement_name
          [(ngModel)]="res.departement_name" [value]="res.departement_name" />
      </div>
      <div
        *ngIf="depForm.controls['departement_name'].invalid && (depForm.controls['departement_name'].dirty || depForm.controls['departement_name'].touched)"
        class="alert alert-danger">
        <div *ngIf="depForm.controls['departement_name'].errors.required">
          Поле "Название департамента" пусто!
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button (click)=" updateDepartement(departement_name.value)" [disabled]="depForm.invalid"
      class="btn btn-primary">Изменить департамент</button>
    <button type="button" class="btn btn-secondary" (click)="modalRef.hide()">Отменить</button>
  </div>
</ng-template>