<div class="container">
  <h2>Изменение данных о департаменте</h2>
    <div class="card">
      <div class="card-body">
        <form [formGroup]="depForm" novalidate>
          <div class="form-group">
            <label class="col-md-4">Название департамента</label>
            <input type="text" class="form-control" formControlName="departments_name" #departments_name
              [(ngModel)]="res.departments_name" [value]="res.departments_name" />
          </div>
          <div
            *ngIf="depForm.controls['departments_name'].invalid && (depForm.controls['departments_name'].dirty || depForm.controls['departments_name'].touched)"
            class="alert alert-danger">
            <div *ngIf="depForm.controls['departments_name'].errors.required">
              Поле "Название департамента" пусто!
            </div>
          </div>
         
          <div class="form-group">
            <button (click)="updateDepartemnet(departements_name.value)"
              [disabled]="depForm.invalid" class="btn btn-primary">Изменить департамент</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  