<div>
  <img src="../../../assets/resources/analitics.png" alt="analitics" width="230px">
  <h2 class="text-center">Программный консалтинг</h2>
  <p class="text-justify">Мы предоставляем экспертные консультации по программному обеспечению - от разработки
    концепции, анализа
    требований и выбора технологий до разработки стратегии обеспечения качества и управления рисками безопасности.
  </p>
  <!-- <p class="text-center"><a class="btn btn-default" href="#" role="button">View details »</a></p> -->
</div>