<div class="navbar fixed-top bg-white navbar-expand-lg navbar-light gray">
  <div class="container">
    <a routerLink="/" class="navbar-brand waves-effect">
      <img src="../../assets/resources/logo.png" alt="logo" width="45px" />
      <strong>POULAILLER</strong>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navContent"
      aria-controls="navContent" aria-expanded="false">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div id="navContent" class="collapse navbar-collapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link waves-effect" routerLink="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link waves-effect" routerLink="/admin">Admin</a>
        </li>
        <li class="nav-item">
          <a class="nav-link waves-effect" routerLink="/pm">PM</a>
        </li>
        <li class="nav-item">
          <a class="nav-link waves-effect" routerLink="/ba">BA</a>
        </li>
        <li class="nav-item">
          <a class="nav-link waves-effect" routerLink="/customer">Customer</a>
        </li>
        <li class="nav-item">
          <a class="nav-link waves-effect" routerLink="/worker">Worker</a>
        </li>
        <ng-container *ngIf="isAuthenthicated; then loggedIn; else loggedOut">
        </ng-container>
      </ul>
      <ul class="navbar-nav nav-flex-icons">
        <li class="nav-item">
          <a href="#" class="nav-link waves-effect border-light rounded">
            <i class="fa fa-facebook"></i>
          </a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link waves-effect border-light rounded">
            <i class="fa fa-twitter"></i>
          </a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link waves-effect border-light rounded">
            <i class="fa fa-github"></i>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>

<ng-template #loggedIn>
  <li class="nav-item">
    <a class="nav-link waves-effect" (click)="logout()">Logout</a>
  </li>
</ng-template>
<ng-template #loggedOut>
  <li class="nav-item">
    <a class="nav-link waves-effect" routerLink="/login">Sign in</a>
  </li>
</ng-template>