<div class="container">
    <h1 class="text-center">Управление зарегистрированными пользователями</h1>
    <table class="table table-hover">
      <thead>
        <tr>
          <td>ФИО</td>
          <td>Логин</td>
          <td>Роль</td>
          <td>E-mail</td>
          <td>Номер телефона</td>
          <td>Должность</td>
          <td>Дата рождения</td>
          <td>Изменить</td>
          <td>Удалить</td>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of users">
          <td>{{ user.full_name }}</td>
          <td>{{user.login}}</td>
          <td>{{user.role}}</td>
          <td>{{ user.email }}</td>
          <td>{{ user.position }}</td>
          <td>{{ user.dob }}</td>
          <td><a [routerLink]="['/editUser', user.id]" class="btn btn-primary"><span class="fa fa-pencil-square"></span></a></td>
          <td><a (click)="deleteUser(user.id)" class="btn btn-danger"><span class="fa fa-minus-square"></span></a></td>
        </tr>
      </tbody>
    </table>
    <hr>
    <router-outlet></router-outlet>
  </div>