<div class="container">
  <div class="row">
    <div class="col-md-5">
      <h2 class="text-center">Контакты</h2>
      <p class="text-nowrap"><b>Адрес:</b> Rue de Bruxelles 21, 1480 Tubize, Бельгия</p>
      <p class="text-nowrap"><b>Телефон:</b> +375901012211, +388230921900</p>
      <p> <b>Email:</b> poulaillercompany@gmail.com</p>
    </div>
    <div class="col-md-7">
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2527.396138844512!2d4.201877315058592!3d50.69403297950974!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47c3c9f17d488c3b%3A0x24284d0945015388!2sPoulailler+(Le)!5e0!3m2!1sru!2sby!4v1551810821772"
        width="600" height="200" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>
  </div>
</div>

<hr>
