<p>
  add-worker works!
</p>

<div class="container">
  <h2 class="text-center">Добавление участника</h2>
  <form [formGroup]="memberForm" role="form" class="form-group" novalidate>


    <div class="form-group">
      <label class="control-label" for="worker_name">Работники</label>
      <select class="form-control" name="worker_name" id="worker_name" [(ngModel)]="worker_name"
        [ngModelOptions]="{standalone: true}">
        <option *ngFor="let worker of workers" [value]="worker.full_name">
          {{worker.full_name}}
        </option>
      </select>
      selected value is {{worker_name}}
    </div>
    <div
      *ngIf="memberForm.controls['worker_name'].invalid && (memberForm.controls['worker_name'].dirty || memberForm.controls['worker_name'].touched)"
      class="alert alert-danger">
      <div *ngIf="memberForm.controls['worker_name'].errors.required">
        Заполните данное поле!
      </div>
    </div>


  </form>
  <div class="form-group justify-content-center align-items-center text-center">
    <button (click)="addMember(worker_name)" class="btn btn-primary">
      Добавить
    </button> 
  </div>
</div>

<div class="container">
  <h1 class="text-center">Участники команды</h1>

  <!-- <div class="row ">
    <div class="col-sm-4">
      <input class="form-control" type="text" placeholder="Поиск" [(ngModel)]="name">
    </div>
  </div> -->
  <a routerLink="/pm/pmTeam/pmAddWorker/pmChoiceMember">Добавить участника</a>
  <router-outlet></router-outlet>

  <table class="table table-hover">
    <thead class="thead-light">
      <tr>
        <th>
          ФИО
        </th>

        <th>
          Роль
        </th>

        <th>
          E-mail
        </th>

        <th>
          Номер телефона
        </th>

        <th>
          Должность
        </th>

        <th>Удалить</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users">
        <td>{{ user.full_name }}</td>
        <td>{{ user.role}}</td>
        <td>{{ user.email }}</td>
        <td>{{ user.phone_number }}</td>
        <td>{{ user.position }}</td>
        <td><a (click)="deleteUser(user.id)" class="btn"><span class="fa fa-trash-o fa-2x"></span></a></td>
      </tr>
    </tbody>
  </table>
  <hr>

</div>