<div class="container">
  <h1 class="text-center">Управление заявками пользователей</h1>
  <table class="table table-hover">
    <thead>
      <tr>
        <td>ФИО</td>
        <td>E-mail</td>
        <td>Номер телефона</td>
        <td>Должность</td>
        <td>Дата рождения</td>
        <td>Принять</td>
        <td>Отклонить</td>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let customer_request of users">
        <td>{{ customer_request.full_name }}</td>
        <td>{{ customer_request.email }}</td>
        <td>{{ customer_request.phone_number}}</td>
        <td>{{ customer_request.position }}</td>
        <td>{{ customer_request.dob }}</td>
        <td><a (click)="approveRequest(customer_request.id)" class="btn btn-primary"><span class="fa fa-check"></span></a></td>
        <td><a (click)="nonApprovedRequest(customer_request.id)" class="btn btn-danger"><span class="fa 	fa fa-close"></span></a></td>
      </tr>
    </tbody>
  </table>
  <hr>
  <router-outlet></router-outlet>
</div>