
<div class="container">
  <h2 class="text-center">Добавление команды</h2>
  <form [formGroup]="teamForm" role="form" class="form-group" novalidate>

    <div class="form-group">
      <label class="control-label" for="team_name">Название команды</label>
      <input formControlName="team_name" class="form-control team_name" type="text" #team_name>
    </div>
    <div
      *ngIf="teamForm.controls['team_name'].invalid && (teamForm.controls['team_name'].dirty || teamForm.controls['team_name'].touched)"
      class="alert alert-danger">
      <div *ngIf="teamForm.controls['team_name'].errors.required">
        Заполните данное поле!
      </div>
    </div>

    <div class="form-group">
      <label class="control-label" for="project_name">Проект</label>
      <select class="form-control" name="project_name" id="project_name" [(ngModel)]="project_name"
        [ngModelOptions]="{standalone: true}">
        <option *ngFor="let project of projects" [value]="project.id">
          {{project.project_name}}
        </option>
      </select>
      selected value is {{project_name}}
    </div>
    <div
      *ngIf="teamForm.controls['project_name'].invalid && (teamForm.controls['project_name'].dirty || teamForm.controls['project_name'].touched)"
      class="alert alert-danger">
      <div *ngIf="teamForm.controls['project_name'].errors.required">
        Заполните данное поле!
      </div>
    </div>
  </form>
  <div class="form-group justify-content-center align-items-center text-center">
    <button
      (click)="addTeam(team_name.value, project_name)"
      class="btn btn-primary">
      Добавить
    </button> </div>
  <!-- <button
    (click)="addProject(team_name.value, project_name.value, start_time.value, completion_time.value, project_manager.value, project_status.value)"
    [disabled]="depForm.invalid" class="btn btn-primary">Добавить</button> -->
</div>