<div class="container">
  <div class="card">
    <div class="card-body">
      <form [formGroup]="angForm" novalidate>
        <div class="form-group">
          <label class="col-md-4">Person Name</label>
          <input type="text" class="form-control" formControlName="person_name" #person_name
            [(ngModel)]="order.person_name" />
        </div>
        <div
          *ngIf="angForm.controls['person_name'].invalid && (angForm.controls['person_name'].dirty || angForm.controls['person_name'].touched)"
          class="alert alert-danger">
          <div *ngIf="angForm.controls['person_name'].errors.required">
            Person Name is required.
          </div>
        </div>
        <div class="form-group">
          <label class="col-md-4">Email</label>
          <input type="text" class="form-control" formControlName="email" #email [(ngModel)]="order.email" />
        </div>
        <div
          *ngIf="angForm.controls['email'].invalid && (angForm.controls['email'].dirty || angForm.controls['email'].touched)"
          class="alert alert-danger">
          <div *ngIf="angForm.controls['email'].errors.required">
            Email is required.
          </div>
        </div>
        <div class="form-group">
          <label class="col-md-4">Number </label>
          <input type="text" class="form-control" formControlName="number" #number [(ngModel)]="order.number" />
        </div>
        <div
          *ngIf="angForm.controls['number'].invalid && (angForm.controls['number'].dirty || angForm.controls['number'].touched)"
          class="alert alert-danger">
          <div *ngIf="angForm.controls['number'].errors.required">
            Number is required.
          </div>
        </div>
        <div class="form-group">
          <label class="col-md-4">Order </label>
          <input type="text" class="form-control" formControlName="order" #order [(ngModel)]="order.order" />
        </div>
        <div
          *ngIf="angForm.controls['order'].invalid && (angForm.controls['order'].dirty || angForm.controls['order'].touched)"
          class="alert alert-danger">
          <div *ngIf="angForm.controls['order'].errors.required">
            Order is required.
          </div>
        </div>
        <div class="form-group">
          <button (click)="updateOrder(person_name.value, email.value, number.value, order.value)"
            [disabled]="angForm.invalid" class="btn btn-primary">Update Order</button>
        </div>
      </form>
    </div>
  </div>
</div>
