<div class="container">
  <h1 class="text-center">Управление департаментами</h1>
  <form>
    <app-departements-form></app-departements-form>
    <!-- <a routerLink="/admin/departements/addDepartements" class="btn  pull-right btn-lg"><span
        class="fa fa-plus-square"></span> Добавить
    </a> -->
  </form>
  <div class="row ">
    <div class="col-sm-4">
      <input class="form-control" type="text" placeholder="Поиск" [(ngModel)]="departement_name">
    </div>
  </div>

  <table class="table table-hover">
    <thead class="thead-light">
      <tr>
        <th>№</th>
        <th [class.active]="order === 'departement_name'" (click)="setOrder('departement_name')"
          class="mdl-data-table__cell--non-numeric">
          Название департамента <span [hidden]="reverse">▼</span><span [hidden]="!reverse">▲</span>
        </th>
        <th
            [class.active]="order === 'workers_quantity'" (click)="setOrder('workers_quantity')"
            class="mdl-data-table__cell--non-numeric">
            Количество сотрудников <span [hidden]="reverse">▼</span><span [hidden]="!reverse">▲</span>
        </th>
        <th>Редактировать</th>
        <th>Удалить</th>
      </tr>
    </thead>

    <tbody>
      <tr
        *ngFor="let departement of departements|filter:departement_name|orderBy:predicate:reverse|paginate: {itemsPerPage: 10, currentPage: p}; let i=index">
       <td>{{i}}</td>
        <td>{{ departement.departement_name }}</td>
        <td>{{ departement.workers_quantity }}</td>
        <td><a [routerLink]="['/admin/departements/editDepartements', departement.id]"><span
              class="fa fa-pencil-square-o fa-2x"></span></a></td>
        <!-- <td>
          <button class="btn btn-default" mwlConfirmationPopover [popoverTitle]="popoverTitle" [popoverMessage]="popoverMessage" placement="left" (confirm)="deleteDepartement(departement.id)" (cancel)="canclClicked=true">Удалить</button>
        </td> -->
        <td><a mwlConfirmationPopover [popoverTitle]="popoverTitle" [popoverMessage]="popoverMessage" placement="left"
            (confirm)="deleteDepartement(departement.id)" (cancel)="canclClicked=true"><span
              class="fa fa-trash-o fa-2x"></span></a></td>
      </tr>
    </tbody>
    <pagination-controls (pageChange)="p=$event"></pagination-controls>
  </table>

  <hr>
  <router-outlet></router-outlet>
</div>