<div class="container">
  <table class="table table-hover">
    <thead>
    <tr>
        <td>Person Name</td>
        <td>Email</td>
        <td>Number</td>
        <td>Order</td>
        <td colspan="2">Actions</td>
    </tr>
    </thead>
  
    <tbody>
        <tr *ngFor="let order of orders">
            <td>{{ order.person_name }}</td>
            <td>{{ order.email }}</td>
            <td>{{ order.number }}</td>
            <td>{{ order.order }}</td>
  <td><a [routerLink]="['/edit', business._id]" class="btn btn-primary">Edit</a></td>
           <!--  <td><a [routerLink]="" class="btn btn-danger">Delete</a></td>  -->
        </tr>
    </tbody>
  </table>
</div>
