<div class="container">
  <h2 class="text-center">
    УСЛУГИ
  </h2>
  <p class="text-justify">
    POULAILLER — компания, которая занимается IT-консалтингом, разработкой программного обеспечения и
    оказанием широкого спектра аутсорсинговых услуг в сфере IT. Наша миссия — помочь компаниям сократить
    расходы на разработку ПО и ускорить вывод их продуктов на рынок.
  </p>
  <div class="row">
    <app-development class="col-md-4 text-center"></app-development>
    <app-analitics class="col-md-4 text-center"></app-analitics>
    <app-technologies class="col-md-4 tetx-center"></app-technologies>
  </div>

</div>

<hr>