<div class="container partners-logo text-justify text-center">
  <h3 class="text-center">ПАРТНЕРЫ</h3>
  <div class="row  align-items-center">
    <div class="col-sm"> <img src="../../../assets/resources/Alfa-Bank.svg.png" alt="Alfa-Bank" width="150px"></div>
    <div class="col-sm"> <img src="../../../assets/resources/1280px-Gazprom-Logo-rus.svg.png"
        alt="1280px-Gazprom-Logo-rus" width="150px"></div>
    <div class="col-sm"><img src="../../../assets/resources/image.png" alt="image" width="150px"></div>
    <div class="col-sm"> <img src="../../../assets/resources/1280px-IBM_logo.svg.png" alt="1280px-IBM_logo"
        width="150px"></div>
    <div class="col-sm"><img src="../../../assets/resources/belaruskaliy-logo.png" alt="belaruskaliy-logo"
        width="150px"></div>

  </div>
</div>
<hr>